@model int

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h6 class="display-4">Welcome to the @ViewData["Title"]</h6>
    <p>
        This page has been viewed @Model times!
    </p>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="OtherPage">Go To Other Page</a>
    </p>
</div>
